@model IEnumerable<DoctorOn.Entidades.Medico>
<!-- model IList<DoctorOn.Models.MedicoModel> -->

<link rel="stylesheet" href="~/Content/main.css" />

<div class="cards">

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="https://source.unsplash.com/user/erondu/300x225/?wave" alt="wave" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btnn">
                <span class="leftt"></span>
                <span class="rightt"></span>
            </a>
            <h2>
                Card title
                <small>Image from unsplash.com</small>
            </h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="#" class="btnn">Read more</a>
                </div>
            </div>
        </div>
    </div>

    @foreach (var Medico in Model)
    {
        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/user/erondu/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btnn">
                    <span class="leftt"></span>
                    <span class="rightt"></span>
                </a>
                <h2>
                    @Medico.Nome_completo
                    <small>@Medico.Especialidade</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Endereço da Clínica: @Medico.Endereco
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a>
                        @Html.ActionLink("Ver Perfil", "Index", "Medico", null, new { style = "text-decoration:none", @class = "btnn" })
                        </a>
                    </div>
                </div>
            </div>
        </div>


    }

</div>

@section Scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

    <script>
        $(document).ready(function () {
            var zindex = 10;

            $("div.card").click(function (e) {
                e.preventDefault();

                var isShowing = false;

                if ($(this).hasClass("showw")) {
                    isShowing = true
                }

                if ($("div.cards").hasClass("showing")) {
                    // a card is already in view
                    $("div.card.showw")
                        .removeClass("showw");

                    if (isShowing) {
                        // this card was showing - reset the grid
                        $("div.cards")
                            .removeClass("showing");
                    } else {
                        // this card isn't showing - get in with it
                        $(this)
                            .css({ zIndex: zindex })
                            .addClass("showw");

                    }

                    zindex++;

                } else {
                    // no cards in view
                    $("div.cards")
                        .addClass("showing");
                    $(this)
                        .css({ zIndex: zindex })
                        .addClass("showw");

                    zindex++;
                }

            });
        });
    </script>
}
