<link rel="stylesheet" href="~/Content/loginout.css" />

<div class="bgline"></div>
<div class="login">
    <div class="login-wrap">
        <div id="signinbox">
            <form id="signinform" action="@Url.Action("AuthenticationMedic")" method="post">
                <h3 class="formlabel">Faça seu Login e veja as novidades</h3>
                @Html.ValidationMessage("login.Invalido", new { @class = "alert" })

                <div class="center">
                    <input id="login" name="Telefone" type="text" class="inputfield" placeholder="Digite O numero do telefone" required />

                    <input id="senha" name="CRM" type="text" class="inputfield" placeholder="Digite o numero do CRM" required />
                </div>
                <input type="submit" value="Entrar" id="loginsubmit" class="inputsubmit" />
            </form>

            <div class="spf">
                @Html.ActionLink("Voltar", "Index", "Usuario", null, new { style = "text-decoration:none" })
            </div>
        </div>
    </div>
</div>