.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20rem;
}

.card {
    margin: 10px;
    width: 20vw;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content {
    padding: 20px 30px;
}

.card h2 {
    font-size: 3rem;
    height: 50px;
}

.card p {
    font-size: 1.2rem;
    height: 70px;
}

@media screen and (max-width: 900px) {

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 60vw;
    }

    .card img {
            max-width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
    }

    .content {
        padding: 10px 20px;
    }

    .card h2 {
        font-size: 1rem;
    }

    .card p {
        font-size: 1rem;
    }

}