<link rel="stylesheet" href="~/Content/home2.css" />
<div class="firstContainer"></div>

<div class="title">
    <h1>Veja a opnião dos nossos clientes</h1>
</div>
<div class="cards">
    <div class="card">
        <div class="image">
            <img src="~/Assets/Img/persona2.jpg" alt="persona" />
        </div>
        <div class="content">
            <h2>Roberto Cerqueira</h2>
            <p>Tive uma boa experiencia como paciente, achei muito pratico e com uma boa usabilidade!</p>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="~/Assets/Img/persona1.jpg" alt="persona" />
        </div>
        <div class="content">
            <h2>Monica Paiva</h2>
            <p>Tive uma boa experiencia como medico, achei muito pratico e com uma boa usabilidade!</p>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="~/Assets/Img/persona3.jpg" alt="persona" />
        </div>
        <div class="content">
            <h2>Arthur Lops</h2>
            <p>Tive uma boa experiencia como medico e paciente, achei muito pratico e com uma boa usabilidade!</p>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="~/Assets/Img/img6.jpg" alt="persona" />
        </div>
        <div class="content">
            <h2>Giovanna Ferrari</h2>
            <p>Tive uma boa experiencia como medico e paciente, achei muito pratico e com uma boa usabilidade!</p>
        </div>
    </div>

</div>